@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: lofi, black;
}


/* Base resets */
body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
